{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<h1 class="center titre">Boutique</h1>
<div class="form-full" id="sortBar">
    {{ form_start(sortBarForm) }}
    {{ form_label(sortBarForm.categorie) }}
    {{ form_widget(sortBarForm.categorie, {'attr': {'value': app.session.get('filter').categorie} }) }} {# MARCHE PAS CAR SELECT #}

    {{ form_label(sortBarForm.promo) }}
    {{ form_widget(sortBarForm.promo, {'attr': {'checked': app.session.get('filter').promo} }) }}

    {{ form_label(sortBarForm.prixUn) }}
    {{ form_widget(sortBarForm.prixUn, {'attr': {'value': app.session.get('filter').prixUn} }) }}

    {{ form_label(sortBarForm.prixDeux) }}
    {{ form_widget(sortBarForm.prixDeux, {'attr': {'value': app.session.get('filter').prixDeux} }) }} €

    {{ form_widget(sortBarForm.filtrer) }}
    {{ form_end(sortBarForm) }}
</div>

<div class="card-list-shop">
    {% for produit in produits %}
        {% set cat = produit.categorie.nom %}
        <div class="card">
            <a href="{{ path("show_shop", {'slug':produit.slug}) }}" class="mya"><img src="{{ asset('img_produit/' ~ produit.image) }}" alt="{{ produit.slug }}">
            <p>{{ produit.nom }}</p></a>
            <div>
                <span>Taille :{{ produit.taille }}</span>
                <span class="price">{{ produit.prix }} €</span>
            </div>
            <div>
                <span><i class="fa-solid fa-star star"></i>{{ (produit.averageEtoiles == 0) ? "New" : produit.averageEtoiles }}</span>

                {% if app.session.get("builder")[cat] %}
                    {% if app.session.get("builder")[cat].nom is same as(produit.nom) %}
                        <a href="{{ path("del_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver mya"></i></a>
                    {% else %}
                        <a href="{{ path("add_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver"></i></a>
                    {% endif %}
                {% else %}
                    <a href="{{ path("add_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver"></i></a>
                {% endif %}

                {% if app.user and produit in app.user.wishlist %}
                    <a href="{{ path("del_wishlist", {'slug':produit.slug}) }}"><i class="fa-regular fa-heart mya"></i></a>
                {% else %}
                    <a href="{{ path("add_wishlist", {'slug':produit.slug}) }}"><i class="fa-regular fa-heart"></i></a>
                {% endif %}
                <a href="{{ path("add_panier", {'slug':produit.slug}) }}"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="center" id="pagination">
     <ul>
        <li class="{{ (page == 1) ? 'disabled' : '' }}"><a href="{{ path("page_shop", {'page':page-1}) }}">Préc</a></li>
        {% for i in 1..nbPages %}
            <li><a href="{{ path("page_shop", {'page':i}) }}">{{ i }}</a></li>
        {% endfor %}
        <li class="{{ (page == nbPages) ? 'disabled' : '' }}"><a href="{{ path("page_shop", {'page':page+1}) }}">Suiv</a></li>
    </ul>
</div>
{% endblock %}
