{% extends 'base.html.twig' %}

{% block title %}{{ produit }}{% endblock %}

{% block body %}
<h1 class="center titre">{{ produit }}</h1>

<section id="show-shop-box">
    <div>
        <img src="{{ asset('img_produit/' ~ produit.image) }}" alt="image produit">
    </div>
    <div id="show-shop-descri">
        <p class="center">{{ produit.description }}</p>
        <p class="center">
            Taille : {{ produit.taille }}<br>
            Categorie : {{ produit.categorie }}<br>
            Prix : <span class="price">{{ produit.prix }} €</span><br>
        </p>
        <div>
            {% if app.session.get("builder")[produit.categorie.nom] != null %}
                {% if app.session.get("builder")[produit.categorie.nom].nom is same as(produit.nom) %}
                    <a href="{{ path("del_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver fa-2xl mya"></i></a>
                {% else %}
                    <a href="{{ path("add_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver fa-2xl"></i></a>
                {% endif %}
            {% else %}
                <a href="{{ path("add_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver fa-2xl"></i></a>
            {% endif %}

            {% if app.user and produit in app.user.wishlist %}
                <a href="{{ path("del_wishlist", {'slug':produit.slug}) }}"><i class="fa-regular fa-heart fa-2xl a-delete"></i></a>
            {% else %}
                <a href="{{ path("add_wishlist", {'slug':produit.slug}) }}"><i class="fa-regular fa-heart fa-2xl"></i></a>
            {% endif %}

            <a href="{{ path("add_panier", {'slug':produit.slug}) }}"><i class="fa-solid fa-cart-shopping fa-2xl"></i></a>
        </div>
    </div>
</section>
<section id="show-shop-star" class="titre">
    <div>
    {% if app.user %}
        {% if vote != null %}
            {% for i in 1..5 %}
                {% if i <= vote.note %}
                    <a class="star-gray" href="{{ path("edit_etoile", {'slug':produit.slug, 'note':i}) }}"><i class="fa-solid fa-star fa-2xl star" id="star{{ i }}"></i>  </a>
                {% else %}
                    <a class="star-gray" href="{{ path("edit_etoile", {'slug':produit.slug, 'note':i}) }}"><i class="fa-solid fa-star fa-2xl star-gray" id="star{{ i }}"></i>  </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    
        {% if vote == null %}
            <a class="star-gray" href="{{ path("app_etoile", {'slug':produit.slug, 'note':1}) }}"><i class="fa-solid fa-star fa-2xl star" id="star1"></i>  </a>
            <a class="star-gray" href="{{ path("app_etoile", {'slug':produit.slug, 'note':2}) }}"><i class="fa-solid fa-star fa-2xl star" id="star2"></i>  </a>
            <a class="star-gray" href="{{ path("app_etoile", {'slug':produit.slug, 'note':3}) }}"><i class="fa-solid fa-star fa-2xl star" id="star3"></i>  </a>
            <a class="star-gray" href="{{ path("app_etoile", {'slug':produit.slug, 'note':4}) }}"><i class="fa-solid fa-star fa-2xl star" id="star4"></i>  </a>
            <a class="star-gray" href="{{ path("app_etoile", {'slug':produit.slug, 'note':5}) }}"><i class="fa-solid fa-star fa-2xl star" id="star5"></i>  </a>
        {% endif %}
    {% endif %}    
    </div>
    <p>{{ produit.etoiles|length }} {{ (produit.etoiles|length > 1) ? "votes" : "vote" }} (note <i class="fa-solid fa-star star"></i> : {{ produit.averageEtoiles }} / 5)</p>
</section>
<hr>
<section>
    <h2 class="center">Commentaires</h2>
    
    {% if app.user %}
    <div class="center">
        {{ form_start(commentaireForm) }}
        {{ form_widget(commentaireForm.commentaire) }}
        {{ form_end(commentaireForm) }}
    </div>
    {% endif %}
    <div id="show-shop-comment">
    {% for comment in commentaire %}
        <div>
            <p><i class="fa-solid fa-circle-user"></i> <strong>{{ comment.user }}</strong> ({{ comment.createdAt|date('d-m-Y') }}) : <br>
            {{ comment }} 
            {% if app.user is same as(comment.user) %}
                <br><a href="{{ path("del_comment", {'id':comment.id}) }}" class="a-delete">Supprimer</a>
            {% endif %}    
            </p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/etoile.js') }}"></script>
{% endblock %}