{% extends 'base.html.twig' %}

{% block title %}BuilderShow{% endblock %}

{% block body %}

<div class="center">
    <h1>Nom Skateboard</h1>
    <p>Description Skateboard</p>
</div>

<div class="card-list-builder">
    {% for produit in app.session.get("builder") %}
        {% if produit is not null %}
            {% set cat = produit.categorie.nom %}
            <div class="card">
                <a href="{{ path("show_shop", {'slug':produit.slug}) }}" class="mya"><img src="{{ asset(produit.image) }}" alt="{{ produit.slug }}">
                <p>{{ produit.nom }}</p></a>
                <div>
                    <span>Taille :{{ produit.taille }}</span>
                    <span class="price">{{ produit.prix }} €</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-star star"></i>({{ produit.averageEtoiles }})</span>

                    {% if app.session.get("builder")[cat] != null %}
                        {% if app.session.get("builder")[cat].nom is same as(produit.nom) %}
                            <a href="{{ path("del_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver mya"></i></a>
                        {% else %}
                            <a href="{{ path("add_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver"></i></a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path("add_builder", {'slug':produit.slug}) }}"><i class="fa-solid fa-screwdriver"></i></a>
                    {% endif %}

                    {% if app.user and produit in app.user.wishlist %}
                        <a href="{{ path("del_wishlist", {'slug':produit.slug}) }}"><i class="fa-regular fa-heart mya"></i></a>
                    {% else %}
                        <a href="{{ path("add_wishlist", {'slug':produit.slug}) }}"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                    <a href="{{ path("add_panier", {'slug':produit.slug}) }}"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
