<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        {% endblock %}
    </head>
    <body>
    <div id="turboContainer">
        <header>
            <nav>
                <a href="{{ path('app_home') }}"><img src="/img/logo_planchetaplanche.png" alt="logo" class="logo"></a>
                <ul>
                    <li><a href="{{ path('app_shop') }}">Boutique</a></li>
                    <li><a href="{{ path('app_builder') }}">Builder</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                </ul>
                <ul>
                    {% if not app.user %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                    {% else %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('app_admin') }}">ADMIN</a></li>
                    {% endif %}
                    <li>
                        <a href="{{ path('app_panier') }}"><i class="fa-solid fa-cart-shopping"><span class="badge">{{ app.user.PaniersTotal}}</span></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_wishlist') }}"><i class="fa-solid fa-heart"><span class="badge">{{ app.user.wishlist|length}}</span></i></a>
                    </li>
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                {% for message in app.flashes('success') %}
                    <div class="notif-success">{{ message }}</div>
                {% endfor %}
                {% for error in app.flashes('error') %}
                    <div class="notif-error">{{ error }}</div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="{{ path('app_faq') }}">FAQ</a></li>
                    <li><a href="{{ path('app_legals') }}">Mentions légales</a></li>
                </ul>
                <a href="{{ path('app_home') }}"><img src="/img/logo_planchetaplanche.png" alt="logo" class="logo"></a>
                <form>
                    <input type="email" name="newsletter" placeholder="trucker67@gmail.com">
                    <input type="submit" value="S'inscrire">
                </form>
            </nav>
            <hr>
            <p>
                <i class="fa-brands fa-facebook fa-lg"></i>  
                <i class="fa-brands fa-twitter fa-lg"></i>  
                <i class="fa-brands fa-instagram fa-lg"></i>  
                <i class="fa-brands fa-youtube fa-lg"></i>
            </p>
            <p>@PlancheTaPlanche 2022, All rights reserved</p>
            <div>
                <i class='fa fa-chevron-up'></i>
            </div>

            {% block javascripts %}
                <script src="/js/tarteaucitron/tarteaucitron.js"></script>
                <script>
                    tarteaucitron.init({
                        "privacyUrl": "", /* Privacy policy url */
                        "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

                        "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                        "cookieName": "tarteaucitron", /* Cookie name */

                        "orientation": "middle", /* Banner position (top - bottom - middle - popup) */

                        "groupServices": false, /* Group services by category */
                        "serviceDefaultState": "wait", /* Default state (true - wait - false) */

                        "showAlertSmall": false, /* Show the small banner on bottom right */
                        "cookieslist": false, /* Show the cookie list */
                        
                        "showIcon": true, /* Show cookie icon to manage cookies */
                        // "iconSrc": "", /* Optionnal: URL or base64 encoded image */
                        "iconPosition": "BottomLeft", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */

                        "adblocker": false, /* Show a Warning if an adblocker is detected */

                        "DenyAllCta" : true, /* Show the deny all button */
                        "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                        "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                        "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                        "removeCredit": false, /* Remove credit link */
                        "moreInfoLink": true, /* Show more info link */
                        "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                        "useExternalJs": false, /* If false, the tarteaucitron.services.js file will be loaded */

                        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */

                        "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */
                        
                        "mandatory": true, /* Show a message about mandatory cookies */
                        "mandatoryCta": true /* Show the disabled accept button when mandatory on */
                    });
                </script>
                <script src="/js/script.js"></script>
                {# {{ encore_entry_script_tags('app') }} #}
            {% endblock %}
        </footer>
    </div>
    </body>
</html>